body {
  font-family: 'Poppins', sans-serif;
  background-color: #282c35;
}

.App {
  text-align: center;
  color: #1F0000;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: #ffffff;
  text-transform: capitalize;
}